

.about h1 {
    position: absolute;
    right: 47%;
    top: 400px;
}

.about p {
    position: absolute;
    right: 43%;
    top: 450px;
}

.tempo1 {
    position: absolute;
    right: 57%;
    top: 550px;
}

.tempo1 p {
    font-size: 13px;
}

#circulos {
    background: white;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 5px solid gray;
}

 #logops {
    margin: 1;
    position: absolute;
    right: 45%;
    top: 550px;
    
}

.tempo2 {
    position: absolute;
    left: 57%;
    top: 800px;
    
}

.tempo2 p {
    font-size: 13px;
}

#lolgops {
    margin: 1;
    position: absolute;
    right: 45%;
    top: 800px;
    z-index: 2;
}

.tempo3 {
    position: absolute;
    right: 57%;
    top: 1050px;
    
}

.tempo3 p {
    font-size: 13px;
}

#tftgops {
    margin: 1;
    position: absolute;
    right: 45%;
    top: 1050px;
    z-index: 2;
}

.tempo4 {
    position: absolute;
    left: 57%;
    top: 1300px;
}

.tempo4 p {
    font-size: 13px;
}

#valogops {
    margin: 1;
    position: absolute;
    right: 45%;
    top: 1300px;
    z-index: 2;
}

#logofimps {
    margin: 1;
    position: absolute;
    right: 45%;
    top: 1550px;
    z-index: 2;
}

.linhat {
    position: absolute;
    height: 1000px;
    border-right: 2px solid gray;
    right: 49.3%;
    top: 710px;
    z-index: 1;
}
