

.about h1 {
    position: absolute;
    right: 47%;
    top: 400px;
}

.about p {
    position: absolute;
    right: 43%;
    top: 450px;
}

.tempo1 {
    position: absolute;
    right: 57%;
    top: 530px;
}

.tempo1 p {
    font-size: 13px;
}


 #logops {
    margin: 1;
    position: absolute;
    right: 45%;
    top: 550px;
}

.tempo2 {
    position: absolute;
    left: 57%;
    top: 670px;
    
}

.tempo2 p {
    font-size: 13px;
}

#lolgops {
    margin: 1;
    position: absolute;
    right: 45%;
    top: 700px;
}

.tempo3 {
    position: absolute;
    right: 57%;
    top: 820px;
    
}

.tempo3 p {
    font-size: 13px;
}

#tftgops {
    margin: 1;
    position: absolute;
    right: 45%;
    top: 850px;
}

.tempo4 {
    position: absolute;
    left: 57%;
    top: 960px;
}

.tempo4 p {
    font-size: 13px;
}

#valogops {
    margin: 1;
    position: absolute;
    right: 45%;
    top: 1000px;
}

#logofimps {
    margin: 1;
    position: absolute;
    right: 45%;
    top: 1150px;
}